---
exclude: "^data/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=10240]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^docs/
      - id: trailing-whitespace

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github,README.md,poetry.lock,uv.lock" -L astroid,braket,te,ROUGE,lief,punctuations,asend

  # Python code security
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.1
    hooks:
      - id: bandit
        name: Code security checks
        args: ["-c", "pyproject.toml"]
        additional_dependencies: ["bandit[toml]"]
        exclude: ^tests/

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: .secrets.baseline

  # Clean jupyter notebook outputs
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.2
    hooks:
      - id: nbstripout
        args: [--keep-id]

  - repo: local
    hooks:
      # Ensure our GH actions are pinned to a specific hash
      - id: check-github-actions
        name: Check GitHub Actions for Pinned Dependencies
        entry: .hooks/check_pinned_hash_dependencies.py
        language: python
        files: \.github/.*\.yml$

      # Format JSON and YAML files
      - id: prettier
        name: Run prettier
        entry: .hooks/prettier.sh
        language: script
        types: [json, yaml]

      # Post-merge hook to refresh dependencies
      - id: refresh-dependencies
        name: Refresh Dependencies
        entry: .hooks/refresh_dependencies.sh
        language: script
        stages: [post-merge]
        always_run: true

      # Pre-push hook to run typing and linting
      - id: typing-and-linting
        name: Typing and Linting
        entry: .hooks/typing_and_linting.sh
        language: script
        stages: [pre-push]
        always_run: true

      # Generate documentation
      - id: generate-docs
        name: Generate docs
        entry: uv run python .hooks/generate_docs.py
        language: system
        pass_filenames: false
        always_run: true
