"""{{ description }}"""

# Framework: safetensors, pytorch, onnx, tensorflow
FRAMEWORK = "safetensors"

# Task: classification, generation, embedding, etc.
TASK = None

# Architecture: bert, llama, vit, etc.
ARCHITECTURE = None

# Set automatically by `dreadnode push`
ARTIFACTS_HASH = None