# {{ project_name }} {% if emoji %}{{ emoji }}{% endif %}

<!-- BEGIN_AUTO_BADGES -->
<div align="center">

[![Pre-Commit](https://github.com/dreadnode/python-template/actions/workflows/pre-commit.yaml/badge.svg)](https://github.com/dreadnode/python-template/actions/workflows/pre-commit.yaml)
[![Renovate](https://github.com/dreadnode/python-template/actions/workflows/renovate.yaml/badge.svg)](https://github.com/dreadnode/python-template/actions/workflows/renovate.yaml)

</div>
<!-- END_AUTO_BADGES -->
{% raw %}
// ...rest of the existing README content...
{% endraw %}
