# API Environment Variables

# Features
### The double underscore (__) is used to denote nested properties.
## E.g. Turn off OAuth login
FEATURES__OAUTH__ENABLED=False
## E.g. Turn off Crucible
FEATURES__COMPETITIVE_LEARNING__ENABLED=${CRUCIBLE_ENABLED:-False}
## E.g. Turn off Spyglass
FEATURES__SPYGLASS__ENABLED=${SPYGLASS_ENABLED:-False}

# Database
## Used by API and Docker Compose
DATABASE_USER=admin
DATABASE_PASSWORD=dreadnode
DATABASE_NAME=platform
DATABASE_PORT=5432
DATABASE_HOST=localhost

# DynamoDB

# Used by API tests to allow mocking
DYNAMODB_PORT=8085
DYNAMODB_AWS_ACCESS_KEY_ID=mock
DYNAMODB_AWS_SECRET_ACCESS_KEY=mock
DYNAMODB_AWS_DEFAULT_REGION=us-west-2
DYNAMODB_URL=http://${PROXY_HOST:-localhost}:${DYNAMODB_PORT}

# Used by API
AUTHORIZATION_KEY_TABLE="auth-keys"
FLAG_ATTEMPTS_TABLE="flag-attempts"

# Clickhouse

# Used by Docker Compose
CLICKHOUSE_TCP_PORT=9009

# Perspective
PERSPECTIVE_API_KEY=mock-perspective-api-key

# API

API_PORT=8000

SECRET_KEY=mock-secret
JWT_SECRET_KEY=mock-jwt-secret
REFRESH_SECRET_KEY=mock-refresh

GITHUB_CLIENT_SECRET="mock-github-client-secret"
GOOGLE_CLIENT_SECRET="mock-google-client-secret"
BYPASS_GOOGLE_DRIVE="True"
GOOGLE_SERVICE_ACCOUNT='{"mock": "mock"}'

STRIKES_CLICKHOUSE_HOST=localhost
STRIKES_CLICKHOUSE_USER=admin
STRIKES_CLICKHOUSE_PASSWORD=dreadnode
STRIKES_CLICKHOUSE_DATABASE=platform

# Used by API to allow mocking and testing and by Docker Compose
S3_AWS_ENDPOINT_URL=http://localhost:9000

# Used by API to allow mocking and testing
S3_AWS_DEFAULT_REGION=us-east-1
S3_AWS_ACCESS_KEY_ID=mock-user
S3_AWS_SECRET_ACCESS_KEY=mock-password
S3_AWS_EXTERNAL_ENDPOINT_URL=http://localhost:9000

SPYGLASS_BUCKET_NAME=spyglass
PYTHON_PACKAGE_BUCKET_NAME=python-packages
USER_DATA_BUCKET_NAME=user-data
REQUIRED_BUCKETS="${SPYGLASS_BUCKET_NAME} ${PYTHON_PACKAGE_BUCKET_NAME} ${USER_DATA_BUCKET_NAME}"

# Slack (Used by API)
SLACK_SIGNING_SECRET=mock-slack-signing-secret
SLACK_BOT_TOKEN=mock-slack-bot-token
