# UI Environment Variables

# Proxy

# PROXY_HOST=dreadnode-laptop
# PROXY_PORT=80
# PROXY_ORIGIN=http://${PROXY_HOST}:80
# PROXY_DASHBOARD_PORT=8118

# CSP (comma separated lists)
# If PROXY_HOST is set, ALLOWED_HOSTS must include match it.
# ALLOWED_HOSTS="laptop"
CSP_CONNECT_SRC="https://www.google.com,https://www.gstatic.com"
CSP_FONT_SRC="https://cdn.jsdelivr.net,https://fonts.gstatic.com"
CSP_FRAME_SRC="https://www.google.com,https://www.gstatic.com"
CSP_IMG_SRC="https://www.gstatic.com"
CSP_SCRIPT_SRC="https://www.google.com,https://www.gstatic.com"
CSP_STYLE_SRC="https://cdn.jsdelivr.net,https://fonts.googleapis.com"
