---
name: Build and Publish

on:
  push:
    tags: ["v*"]

jobs:
  build-and-publish:
    name: Build and Publish
    environment: protected
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        with:
          version: "latest"
          python-version: 3.13

      - name: Validate version
        run: |
          TAG_VERSION=${GITHUB_REF#refs/tags/v}
          PROJECT_VERSION=$(uvx --from=toml-cli toml get --toml-path=pyproject.toml project.version)

          if [ "$TAG_VERSION" != "$PROJECT_VERSION" ]; then
            echo "Tag ($TAG_VERSION) doesn't match pyproject.toml ($PROJECT_VERSION)"
            exit 1
          fi

      - name: Build package
        run: uv build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
