---
name: Tests

on:
  merge_group:
  push:
    branches: [main]
    paths:
      - "**/*.py"
      - "pyproject.toml"
      - "poetry.lock"
      - "uv.lock"
  pull_request:
    branches: [main]

jobs:
  python:
    name: Python - Lint, Typecheck, Test

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        version: "latest"
        python-version: ${{ matrix.python-version }}

    - name: Sync packages
      run: uv sync --all-extras

    - name: Format
      run: uv run ruff format --check .

    - name: Lint
      if: always()
      run: uv run ruff check --output-format=github .

    - name: Typecheck
      if: always()
      run: uv run mypy .

    - name: Test
      if: always()
      run: uv run pytest
